body{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* overflow-y:hidden; */
    background-color: #dbf7f5;
    
}

.blockquote h1{
    margin-top: 3rem;
}



/* ===============card================= */
.card{
    align-items: center;
    /* margin-left: 35rem; */
    width: 25rem !important;
 
}
.card-img{
    border-bottom-right-radius: calc(5.25rem - 1px);
    height: 70%;
    width: 70%;
    border-top-left-radius: calc(5.25rem - 1px);
}
#job{
    color:#1aa3c2;
   
}
/* ============button========== */
.btn{
    font-size: 2rem;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}

/* ======previous button =========*/
#prevBtn{
margin-left: 6.4rem;
}
#nextBtn{
    margin-left: 0.4rem;
}
/* ====Random button ========= */
#randomBtn{
    height: 4rem;
    width: 10rem;
    font-size: 3vmin;
    margin-left: 5.4rem;
}